@{
    ViewData["Title"] = "Orders list";
}
@model ReceiptOrders.Models.ViewModels.OutputViewModel

<a asp-action="CreateOrder">Добавить документ</a><br>

<a asp-action="AddProductsInOrder">Добавить продукты в документ</a>

<div>
    <h3>Список приходных ордеров:</h3>
    <table>
        <tr class="header">
            <td>
                <p>№ документа</p></td>
            <td>
                <p>Дата</p></td>
            <td>
                <p>Договор поставки</p></td>
            <td>
                <p>Поставщик</p></td>
            <td>
                <p>Место хранения</p></td>
            <td>
                <p>Номенклатурный номер</p></td>
            <td>
                <p>Количество</p></td>
            <td>
                <p>Цена</p></td>
            <td>
                <p>Стоимость</p></td>
        </tr>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    <p>@order.Number</p></td>
                <td>
                    <p>@order.Date</p></td>
                <td>
                    <p>@order.SupplyContract</p></td>
                <td>
                    <p>@order.Provider</p></td>
                <td>
                    <p>@order.StorageLocation</p></td>
                @if (Model.ProductsInOrders.Any(i => i.OrderNumber == order.Number))
                {
                    <td>
                        @foreach (var item in Model.ProductsInOrders.Where(i => i.OrderNumber == order.Number))
                        {
                            <p>@Model.Products.First(i => i.Number == item.ProductNumber).Number</p>
                        }
                    </td>
                    <td>
                        @foreach (var item in Model.ProductsInOrders.Where(i => i.OrderNumber == order.Number))
                        {
                            <p>@item.Quantity</p>
                        }
                    </td>
                    <td>
                        @foreach (var item in Model.ProductsInOrders.Where(i => i.OrderNumber == order.Number))
                        {
                            <p>@Model.Products.First(i => i.Number == item.ProductNumber).Price</p>
                        }
                    </td>
                    <td>
                        @foreach (var item in Model.ProductsInOrders.Where(i => i.OrderNumber == order.Number))
                        {
                            <p>@Model.Products.First(i => i.Number == item.ProductNumber).Cost</p>
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
